*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
:root{
  --color-white: #fff;
  --color-light-gray: #C4C4C4;
  --color-red: #CB0E0E;
}
[class*=container]{
  max-width: 1300px;
  padding: 0 50px;
  margin: 0 auto;
}