*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
ul, ol, li {
  list-style: none;
}
body{
  overflow-y: scroll;
}
:root{
  --color-white: #fff;
  --color-light-gray: #C4C4C4;
  --color-red: #c03c3c;
  --color-pink: #d59898;
  --color-blue: #036CCA;
}
[class*=container]{
  max-width: 1300px;
  padding: 0 50px;
  margin: 0 auto;
}
@font-face {
  font-family: 'SpaceAge';
  src: url('./BLL/fonts/spaceagecyrillic_regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'SFPro';
  src: url('./BLL/fonts/SF-Pro-Display-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'SFPro';
  src: url('./BLL/fonts/SF-Pro-Display-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: 700;
}