*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
ul, ol, li {
  list-style: none;
}
:root{
  --color-white: #fff;
  --color-light-gray: #C4C4C4;
  --color-pink: #d59898;
}
[class*=container]{
  max-width: 1300px;
  padding: 0 50px;
  margin: 0 auto;
}